cache-database/mongodb/data/_mdb_catalog.wt
cache-database/mongodb/data/collection-0--6555885203574423275.wt
cache-database/mongodb/data/collection-2--6555885203574423275.wt
cache-database/mongodb/data/collection-4--6555885203574423275.wt
cache-database/mongodb/data/collection-7--6555885203574423275.wt
cache-database/mongodb/data/index-1--6555885203574423275.wt
cache-database/mongodb/data/index-3--6555885203574423275.wt
cache-database/mongodb/data/index-5--6555885203574423275.wt
cache-database/mongodb/data/index-6--6555885203574423275.wt
cache-database/mongodb/data/index-8--6555885203574423275.wt
cache-database/mongodb/data/mongod.lock
cache-database/mongodb/data/sizeStorer.wt
cache-database/mongodb/data/storage.bson
cache-database/mongodb/data/WiredTiger
cache-database/mongodb/data/WiredTiger.lock
cache-database/mongodb/data/WiredTiger.turtle
cache-database/mongodb/data/WiredTiger.wt
cache-database/mongodb/data/WiredTigerHS.wt
cache-database/mongodb/data/diagnostic.data/metrics.2023-07-18T15-08-58Z-00000
cache-database/mongodb/data/diagnostic.data/metrics.2023-07-18T15-17-31Z-00000
cache-database/mongodb/data/diagnostic.data/metrics.2023-07-18T15-18-57Z-00000
cache-database/mongodb/data/diagnostic.data/metrics.2023-07-18T15-19-58Z-00000
cache-database/mongodb/data/diagnostic.data/metrics.2023-07-18T15-21-39Z-00000
cache-database/mongodb/data/diagnostic.data/metrics.2023-07-18T15-22-09Z-00000
cache-database/mongodb/data/journal/WiredTigerLog.0000000006
cache-database/mongodb/data/journal/WiredTigerPreplog.0000000001
cache-database/mongodb/data/journal/WiredTigerPreplog.0000000002
cache-database/mongodb/data/diagnostic.data/metrics.2023-07-18T15-24-57Z-00000
cache-database/mongodb/data/diagnostic.data/metrics.2023-07-18T15-28-37Z-00000
cache-database/mongodb/data/diagnostic.data/metrics.2023-07-18T16-28-24Z-00000
cache-database/mongodb/data/diagnostic.data/metrics.2023-07-18T16-29-43Z-00000
cache-database/mongodb/data/journal/WiredTigerLog.0000000010
cache-database/mongodb/data/diagnostic.data/metrics.2023-07-18T17-01-11Z-00000
cache-database/mongodb/data/journal/WiredTigerLog.0000000011
